p, 
h1 {
 
    color: slategrey;
}
img:hover {
    opacity: 0.5;
}
h1{
    text-align: center
}
p{
    text-align: center
}
body{
    text-align: center
}

#header {
    background: url('images/fond.jpg') no-repeat;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    padding: 30px;
}

#header h1, p {
    color: white;
}

#features {
    display: flex;
    justify-content: space-around;
}

#newsletter {
    background-color: lightgray;
}